@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 100%;
  margin: 0px auto;
}

.navigation {
  display: block;
  width: 100%;
  min-height: 50px;
  background-color: sandybrown;
  background: -webkit-gradient(linear, left top, left bottom, from(brown), to(sandybrown));
  background: linear-gradient(brown, sandybrown);
  z-index: 1;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 30%;
}
.banner img {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.menu_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#45322E));
  background: linear-gradient(black, #45322E);
  position: sticky;
}
.menu_navbar a {
  color: #C0C0C0;
  margin: AUTO;
  font-size: 18px;
  font-weight: 700;
}

a:hover {
  -webkit-text-decoration: underline #C0C0C0 3px;
          text-decoration: underline #C0C0C0 3px;
}

.food {
  min-height: 500px;
  width: 100%;
  background-image: url("../img/pattern.jpg");
  background-size: repeat;
  opacity: 0.9;
}
.titles {
  text-align: center;
  color: #C0C0C0;
  margin: AUTO;
  font-size: 18px;
  font-weight: 700;
  padding-top: 5%;
}

@media (max-width: 500px) {
  .titles {
    padding-top: 20%;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
  }
}
.block-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.dish {
  margin: auto;
  width: 25%;
  margin-top: 5%;
}

.dish img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.dish p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.dish img:hover {
  width: 120%;
  height: auto;
  margin-top: 10%;
  opacity: 1;
}

.dish:hover .text {
  opacity: 1;
}

.block-news2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.dish2 {
  margin: auto;
  width: 25%;
  margin-top: 5%;
}

.dish2 img {
  width: 100%;
  height: auto;
  margin-top: 10%;
  display: inline-block;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.dish2 p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.dish2 img:hover {
  width: 120%;
  height: auto;
  margin-top: 10%;
  opacity: 1;
}

.dish2:hover .text {
  opacity: 1;
}

.block-news3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.dish3 {
  margin: auto;
  width: 25%;
  margin-top: 5%;
}

.dish3 img {
  width: 100%;
  max-height: width;
  margin-top: 10%;
  display: inline-block;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.dish3 p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.dish3 img:hover {
  width: 120%;
  height: auto;
  margin-top: 10%;
  opacity: 1;
}

.dish3:hover .text {
  opacity: 1;
}

.block-news4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.dish4 {
  margin: auto;
  width: 25%;
  margin-top: 5%;
}

.dish4 img {
  width: 100%;
  max-height: width;
  margin-top: 10%;
  display: inline-block;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.dish4 p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.dish4 img:hover {
  width: 120%;
  height: auto;
  margin-top: 10%;
  opacity: 1;
}

.dish4:hover .text {
  opacity: 1;
}

.block-news5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.dish5 {
  margin: auto;
  width: 25%;
  margin-top: 5%;
}

.dish5 img {
  width: 100%;
  max-height: width;
  margin-top: 10%;
  display: inline-block;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.dish5 p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.dish5 img:hover {
  width: 120%;
  height: auto;
  margin-top: 10%;
  opacity: 1;
}

.dish5:hover .text {
  opacity: 1;
}

.drinks {
  min-height: 500px;
  width: 100%;
  background-image: url("../img/pattern.jpg");
  background-size: repeat;
  opacity: 0.9;
}


.block-drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
 margin-bottom: 10%;
}


@media (max-width: 500px) {
  .block-drinks {
    margin-bottom: 20%;
  }
}




.block-drinks2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
   margin-bottom: 10%;
  
}

.drink {
  margin: auto;
  width: 25%;
  margin-top: 5%;
  max-height: auto;
}

.drink img {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.drink p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.drink img:hover {
  width: 90%;
  height: 90%;
  margin-top: 10%;
  opacity: 1;
}

.drink:hover .text {
  opacity: 1;
}

.drink2 {
  margin: auto;
  width: 25%;
  margin-top: 5%;
  max-height: 800px;
  display: block;
}

.drink2 {
  margin: auto;
  width: 25%;
  margin-top: auto;
  max-height: 800px;
  display: block;
}

.drink2 img {
  width: 80%;
  height: 80%;
  opacity: 0.7;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  border-radius: 5%;
}

.drink2 p {
  color: #C0C0C0;
  margin-top: 10%;
  opacity: 0;
}

.drink2 img:hover {
  width: 90%;
  height: 90%;
  margin-top: 10%;
  opacity: 1;
}

.drink2:hover .text {
  opacity: 1;
}

@media (max-width: 2500px) {
  .drink {
    height: 900px;
    max-width: auto;
  }
}
@media (max-width: 500px) {
  .drink {
    height: 500px;
    max-width: auto;
  }
}
@media (max-width: 2500px) {
  .drink2 {
    height: 900px;
    max-width: auto;
  }
}
@media (max-width: 500px) {
  .drink2 {
    height: 500px;
    max-width: auto;
  }
}
.block-beers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-beers2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.beer {
  margin-top: 5%;
  width: 100%;
  padding-bottom: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.beer2 {
  margin-top: 5%;
  width: 100%;
  padding-bottom: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.beer img {
  width: 33%;
  height: 50%;
  margin-left: 33.333%;
  margin-right: auto;
  margin-top: 10%;
}

.beer2 img {
  width: 33%;
  height: 50%;
  margin-left: 33.333%;
  margin-right: auto;
  margin-top: 10%;
}

.description {
  color: #C0C0C0;
  margin-top: 10%;
  text-align: center;
}

@media (max-width: 500px) {
  .beer img {
    height: 70%;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .beer2 img {
    height: 70%;
    width: 60%;
  }
}
.vodka {
  text-align: left;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  color: #C0C0C0;
  margin: AUTO;
  font-size: 18px;
  font-weight: 700;
}

.example {
  padding-top: 10px;
  color: rgba(204, 192, 192, 0.7529411765);
  max-width: 100%;
  text-align: justify;
}

.example p {
  padding: auto;
}
